html {
    background-color: #fff;
    display: block;
    scroll-behavior: smooth;
}

h1 {
    color: #ffffff;
    font-family: 'EB Garamond', serif;
    padding-top: 2rem;
    padding-left: 2rem;
}

a.Index {
    background-color: #ffffff;
    color: #000000;
}

a.Index:Link {
    color: #000000;
    text-decoration: none;
}

a.Index:Hover {
    background-color: #ffffff;
    color: #000000;
}

a.Index:visited {
    color: #000000;
}

a.PageLink:Link {
    color: #414042;
    border: 2px solid #000000;
    font-size: 35px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-decoration: none;
}

a.PageLink:Hover {
    background-color: #ffffff;
    color: #414042;
}

a.PageLink:visited {
    color: #414042;
}

ol {
    color: #414042;
    background-color: #fff;
    font-family: 'EB Garamond', serif;
    list-style-type: none;
    padding-left: 2rem;
}

li {
    padding-top: 3rem;
}